<!-- views/index.handlebars -->
<div class="container my-5 p-3" style="border: 1px solid grey; border-radius: 5px; box-shadow: 2px 2px 10px grey;">
  <div class="d-grid gap-2 ny-2">
    <select class="form-select" aria-label="Default select example">
      <option selected>類別選單</option>
      <option value="1">家居物業</option>
      <option value="2">交通出行</option>
      <option value="3">休閒娛樂</option>
      <option value="3">餐飲食品</option>
      <option value="3">其它</option>
    </select>
  </div>

  <p class="my-1">總金額：</p>
  <p class="fs-1">{{ total }}總金額放這裡</p>

  <ul class="list-group">
    {{!-- {{#each 放這裡--}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-auto me-auto d-flex align-items-center">
          <blockquote class="blockquote ">
            <p class="mb-0">{{this.name}}這是資料名稱<a>{{ this.cost }} 這是金額</a></p>
          </blockquote>
        </div>
        <div class="col-auto d-flex align-items-center">
          <a class="btn btn-outline-primary mx-1" href="./expense/{{ this._id }}/edit">edit</a>
          <form action="./expense/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
            <button class="btn btn-danger" type="submit">delete</button>
          </form>
        </div>
        <figcaption class="blockquote-footer mb-0">
          {{this.date}} 這是日期
        </figcaption>
      </div>
    </li>
    {{!-- {{/each 放這裡--}}
  </ul>
  <a class="btn btn-primary mt-3 d-grid" href="./expense/new">新增支出</a>
</div>